.i18n-blog-app-button {
    background: #273c75;
    color: #f5f6fa;
    border-radius: 2px;
    font-family: 'Space Mono', sans-serif;
    border: 1px solid #273c75;
    font-size: 16px;
    cursor: pointer;
}

.i18n-blog-app-button:hover {
    background: #192a56;
}

.i18n-blog-app-button:active {
    border-color: #718093;
}

.i18n-blog-app-button:focus {
    border-color: #718093;
}