.i18n-blog-app-about h2 {
    color: #487eb0;
    margin-top: 0;
}

.i18n-blog-app-about {
    background-color: #2f3640;
    overflow: auto;
    padding: 20px;
}

.i18n-blog-app-about__desc {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
}

.i18n-blog-app-about__text {
    display: flex;
}

.i18n-blog-app-about__text-box {
    padding-left: 5px;
    max-width: 540px;
}

.i18n-blog-app-about__desc-text {
    white-space: pre-line;
    line-height: 25px;
}