.i18n-blog-app-home ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.i18n-blog-app-home {
    background: #0097e6;
    color: #353b48;
    position: relative;
    overflow: auto;
}

.i18n-blog-app-home__logo {
    display: block;
    margin: 0 auto;  
}

.i18n-blog-app-home__list li {
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Space Mono';
    cursor: pointer;
}

.i18n-blog-app-home__locale {
    position: absolute;
    top: 5px;
    right: 15px;
    font-family: 'Space Mono';
}

.i18n-blog-app-home h1 {
    text-transform: uppercase;
    text-align: center;
    color: #353b48;
    margin-top: 50px;
    margin-bottom: 50px;
}

.i18n-blog-app-home__list-divider {
    margin: 0 5px;
}


@media only screen and (max-width: 600px)  {
    .i18n-blog-app-home__list li {
        display: block;
        margin-top: 5px;
    }
}