.i18n-blog-app-contact a {
    color: #192a56;
}

.i18n-blog-app-contact {
    padding: 20px;
}

.i18n-blog-app-contact h2 {
    color: #487eb0;
    margin-top: 0;
}

.i18n-blog-app-contact a:hover {
    text-decoration: none;
}

.i18n-blog-app-contact__link {
    display: flex;
    align-items: center;
}

.i18n-blog-app-contact__link-icon {
    padding-right: 5px;
}

.i18n-blog-app-contact__link-a {
    word-break: break-all;
}