.i18n-blog-app-avatar-container{
	width: 156px;
	height: 156px;
}
.i18n-blog-app-avatar{
	overflow: hidden;
	border-radius: 50%;
	border: solid 3px #487eb0;
	width: 150px;
	height: 150px;
	background-size: cover;	
	z-index: 2;
}

.i18n-blog-app-avatar img {
    width: 100%;
    height: 100%;
}
